.blog {
  padding-bottom: 90px;
  .blog_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 60px;
    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      color: #454545;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.86px;
      color: #454545;
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 14px 44px;
      border-radius: 100px;
      border: 1px solid #454545;
      background: #fff;
      transition: 0.2s linear;
      .white_arrow {
        display: none;
      }
      &:hover {
        background: #454545;
        color: #fff;
        .white_arrow {
          display: flex !important;
        }
        .black_arrow {
          display: none;
        }
      }
    }
  }
  .blog_cards {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 48px 0 96px;
    .blog_card {
      padding-bottom: 32px;
      border-bottom: 1px solid #0001;
      color: #454545;
      .blog_card_title {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 30px;
        h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: 26px;
          padding: 0 70px 24px 0;
        }
      }
    }
  }
  .blog_texts {
    display: flex;
    grid-template-columns: 3fr 1fr;
    gap: 40%;
    .blog_desc {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
  }
}

@media (max-width: 800px) {
  .blog {
    padding-bottom: 48px !important;
    position: relative;
    .blog_title {
      button {
        position: absolute;
        bottom: -40px;
        right: 40px;
      }
    }
    .blog_texts {
      grid-template-columns: 1;
    }
  }
}
