.company {
  .company_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 60px;
    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      color: #454545;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.86px;
      color: #454545;
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 14px 44px;
      border-radius: 100px;
      border: 1px solid #454545;
      background: #fff;
      transition: 0.2s linear;
      .white_arrow {
        display: none;
      }
      &:hover {
        background: #454545;
        color: #fff;
        .white_arrow {
          display: flex !important;
        }
        .black_arrow {
          display: none;
        }
      }
    }
  }
  .company_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 60px;
    .company_card {
      height: 340px;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 40px;
      border: 1px solid #d9d9d9;
      color: #454545;
      transition: 0.2s linear;
      &:hover {
        background: #ccccc9;
      }
      img {
        padding: 10px;
        background: #454545;
        border-radius: 10px;
      }
      h3 {
        padding: 60px 0 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}

.company__title {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 48px;
  .company_page_title {
    color: #454545;
    opacity: 1 !important;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    display: flex;
    align-items: center;
    opacity: 0.3;
    gap: 5px;
    span {
      font-size: 20px;
      color: #000;
      opacity: 1 !important;
    }
  }
}

.company_page_contents {
  color: #454545;
  h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
  }
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
  padding-top: 24px;
  .company_left_side {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .company_items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .company_item {
        h4 {
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
        }
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 300px;
        border-radius: 15px;
        background: #f2f2f2;
        h2 {
          padding-bottom: 80px;
        }
      }
    }
  }
  .company_right_side {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 32px;
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
  }
}

@media (max-width: 1150px) {
  .company_cards {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    gap: 32px;
  }
}
@media (max-width: 800px) {
  .company {
    position: relative;
    .company_title {
      button {
        position: absolute;
        bottom: -40px;
        right: 40px;
      }
    }
  }
}
