.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in;
  padding: 12px 0 24px;
  .header_bottom {
    .menu {
      display: none;
    }
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #454545;
    .header_icons {
      display: flex;
      align-items: center;
      gap: 32px;
      .header_icon {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        position: relative;
        span {
          position: absolute;
          top: -7px;
          right: 8px;
          background: #c63c3c;
          color: #fff;
          padding: 1px 6.5px;
          border-radius: 20px;
        }
        .cart-image {
          width: 24px;
          height: 24px;
        }
        font-size: 12px;
        font-weight: 600;
        line-height: 16.39px;
      }
    }
    button {
      padding: 16px 24px;
      background: #454545;
      border-radius: 100px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.86px;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid #454545;
      transition: 0.2s ease-out;
      .katalog_hover {
        display: none;
      }
      &:hover {
        background: #fff;
        color: #454545;
        img {
          display: none;
        }
        .katalog_hover {
          display: flex !important;
        }
      }
    }
    form {
      position: relative;
      input {
        width: 560px;
        padding: 16px 0 16px 24px;
        border: 1px solid #454545;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 600;
        line-height: 21.86px;
        text-align: left;
        transition: 0.3s ease-in;
        &::placeholder {
          opacity: 0.3;
        }
      }
      img {
        position: absolute;
        top: 17px;
        right: 20px;
      }
    }
  }
}

.shrink {
  padding: 8px 0 16px;
}

@media (max-width: 1220px) {
  .header_bottom {
    input {
      width: 400px !important;
    }
  }
  .header_icons {
    gap: 12px !important;
    p {
      display: none;
    }
  }
}

@media (max-width: 930px) {
}

@media (max-width: 750px) {
  .header_bottom .m {
    transform: translateX(-120%);
    position: absolute;
    position: absolute;
    top: 94px;
    left: -100%;
    width: 360px;
    height: 100vh;
    background: #fafafa;
    box-shadow: 0 3px 5px #0002;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
    line-height: 2;
    z-index: 10;
    transform-origin: top;
  }
  .menu {
    font-size: 32px;
    display: flex !important;
  }
  .m.shrink2 {
    top: 76px;
  }

  .m.show {
    transform: translateX(0);
    left: 0;
  }
}
