.payment {
  .payment__title {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 48px;
    .payment_page_title {
      color: #454545;
      opacity: 1 !important;
    }
    h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 21.86px;
      display: flex;
      align-items: center;
      opacity: 0.3;
      gap: 5px;
      span {
        font-size: 20px;
        color: #000;
        opacity: 1 !important;
      }
    }
  }
  .payment_contents {
    padding-top: 32px;
    display: flex;
    gap: 30%;
    color: #454545;
    h2 {
      font-size: 64px;
      font-weight: 700;
      line-height: 70.4px;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 33.6px;
      padding-bottom: 28px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 24px;
    }
    .payment_bside {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: start;
      ul {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        flex-direction: column;
        list-style-type: disc;
        color: #2f4da3 !important;
        align-items: start;
        padding-left: 16px;
      }
    }
  }
}
.contact_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  // margin-top:
  padding: 60px;
  border-radius: 15px;
  z-index: 117;
  color: #454545;
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
  }
}
